<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>domath.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FFA4954B91F09F9AB41D905E0F058D0904514D9A</string>
				<key>dateExpires</key>
				<string>7/13/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>S8LBLGHJFU.Suss.example.domath</string>
				<key>com.apple.developer.team-identifier</key>
				<string>S8LBLGHJFU</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>S8LBLGHJFU.Suss.example.domath</string>
				</array>
			</dict>
			<key>name</key>
			<string>domath.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0b1c67e4-56c4-42da-a15d-c50cf1c741e1</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: Suss.example.domath</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>S8LBLGHJFU</string>
				<key>name</key>
				<string>Alexey Potashnikov</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
